@import "src/utilities/references/index";
.topnoor-personal-page{
    background-color: $whitef5;
   
    .personal-box{
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        .box-personal-box{
            margin-top: 20px;
            border-radius: 5px;

width: 100%;
background-color: $white;
box-shadow: 5px 5px 5px 5px $graydd;
border-radius: 10px;
i{font-size: 100px;
color: $graydd;
margin-right: 10px;
}
.item-box-personal-box{
    margin-bottom: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    .col-item-box-personal-box{
        display: flex;
        flex-direction: row-reverse;
            h1{
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 15px;
        border-bottom-style:solid ;
        border-color: $perpel;
        border-width: 2px;
        width: 20%;
     
    }
    }

h6{
    color: $black;
    font-size: 20px;
    padding: 15px;
}
input{
    direction: rtl;
    margin-right:15px;
    border-radius: 10px;
height: 40px;
border-style: solid;
border-color: $graydd;
color: $gray;
background-color: transparent;
}
button{
    width: 150px;
    height: 40px;
    border-color: transparent;
    border-radius: 10px;
    background-color: $perpel;
}
}
        }
    }
}