@import "src/utilities/references/index";
.komeil-footer-page{
    // background-color: $perpel;
    background-color: $white;

 
    .community-box{
        border-left-style:solid ;
        border-color: $graydd;
        border-width: 1px;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 10px;
        h1{
        
            font-size: 16px;
            font-weight: bold;
            padding: 10px;

        }
       
           
h6{
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
       
    }
  .logo-enamad-box{
      position: relative;
      display: flex;
   
      align-items: center;
      img{
          
      }
  }
}