@import "src/utilities/references/index";
.topnoor-menuprofile-page{
    background-color: $white;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        font-size: 30px;
        font-weight: normal;
        border-bottom-style: solid;
        border-color: $danger;
        border-width: 2px;
        padding: 12px;
    }
    .box-link{
        border-style: solid;
        border-color: $graydd;
        border-width: 2px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        .item-box-link{
            padding: 10px;
            font-weight: normal;
        }
    }
}