@import "src/utilities/references/index";
.topnoor-card-page{
    background-color: $white;
    .title-box{
        text-align: right;
        border-bottom-style:solid ;
        border-color: $graydd;
        border-width: 1px;

        h1{
            padding: 20px;
            font-size: 25px;
        }
    }
    .row-empty{
        display: flex;
        justify-content: center;
        align-items: center;
        .box-row-empty{
width: 90%;
background-color: rgba($graydd,0.4);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 70px;
height: 400px;
border-radius: 10px;
h1{
padding:25px;
font-size: 18px;
}
.txtback{
color:$bluef2;
cursor: pointer;
text-decoration: underline;
}
        }
    }
}