@import "src/utilities/references/index";
.koemil-bazarche-page{
    background-color: $white;
    .title-bazarche{
        display: flex;
        justify-content: center;
        align-items: center;
        h6{
            font-size: 25px;
            font-weight: normal;
            padding: 30px;
        }
    }
    .first-banner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
       img{
    width: 100%;
    height: 400px;
    
} 
    }

        
          .subitem-box-result{
            border-color: $graydd;
            border-style: solid;
            border-width: 1px;
            border-radius: 5px;
            margin: 20px;
            cursor: pointer;
            .simpletxt{
                text-align: center;
                padding: 10px;
                color: $perpel;
              }
              .div-img-subitem-box-result{
                  display: flex;
                  align-items: center;
                  justify-content: center;
  img{
  width: 60%;
  }
              }
              h6{
                  font-weight: normal;
                  font-size: 15px;
                  text-align: center;
                  padding:10px
                                  }
              .div-price-subitem-box-result{
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  margin: 15px;
                  h5{
  font-weight: normal;
  font-size: 15px;
                  }
                  i{
  flex: 1;
                  }
   .discount-subitem-box-result{
       width: 30px;
       height: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: $perpel;
       border-top-left-radius: 10px;
       border-top-right-radius:10px ;
  h3{
  font-size: 14px;
  color: $white;
  }
  h6{
    font-size: 14px;
    color: $white;  
  }
              }
              .amountafterdiscount{
                text-decoration: line-through;
              }
              h3{
                padding-top: 10px;
                    padding-right: 10px;
                font-size: 15px;
              }
              }
             
          }
      }
      .box-filter{
           
          margin-top: 25px;
          .box-col-filter{
              background-color: $whiteff;
              border-radius: 10px;
            
               .title-list-of-filter-col{
                   border-bottom-style:solid ;
                   border-width: 1px;
                   border-color: $graydd;
                   display: flex;
                   flex-direction: row;
                   
              
  h1{
  font-size: 11px;
  padding: 5px;
  font-weight: normal;
  }
  i{
  flex: 1;
  padding: 5px;
  }
  h6{
      font-size: 11px;
      padding: 5px;
      font-weight: normal;
      color:$red
  }
          } 
          .list-of-filter-col{
              display: flex;
              flex-direction: row-reverse;
              .item-list-of-filter-col{
                  background-color: $graydd;
                 margin: 5px;
                 border-radius: 10px;
  
                  h6{
                      padding: 5px;
  font-size:14px ;
  color: rgba($black,0.5);
                  }
              }
          }
          }
          .box-col-brand-filter{
              background-color: $whiteff;
              border-radius: 10px; 
              margin-top: 25px;
              .title-list-of-brand-filter-col{
                  border-bottom-style:solid ;
                  border-width: 1px;
                  border-color: $graydd;
              text-align: right;
                  
             
  
  h6{
     font-size: 11px;
     padding: 5px;
     font-weight: normal;
    
  }
         } 
         .list-of-brand-filter-col{
             .sub-list-of-brand-filter-col{
                 display: flex;
                 flex-direction: row;
            justify-content: center;
            align-items: center;
                 i{
  flex: 1;
                 }
                 h1{
  font-size: 10px;
  color: $gray;
                 }
                 h6{
                  font-size: 10px;
                  font-weight: normal;
                 }
                 .check-classs{
  color: $perpel;
                 }
             }
         }
          }
          .box-col-available-filter{
              background-color: $whiteff;
              border-radius: 10px; 
              margin-top: 25px;
              .available-filter-col{
             
              text-align: right;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
             
  
  h6{
     font-size: 11px;
     padding: 5px;
    
    
  }  
  .swich-class{
      color: $perpel;
  }
  } 
       
          }
          .box-col-price-filter{
              background-color: $whiteff;
              border-radius: 10px; 
              margin-top: 25px;
              .title-price-filter-col{
                  border-bottom-style:solid ;
                  border-width: 1px;
                  border-color: $graydd;
              text-align: right;
                  
             
  
  h6{
     font-size: 12px;
     padding: 5px;
     font-weight: normal;
    
  }
         } 
         .price-filter-col{
           
       text-align: right;
              
             h6{
  padding: 5px;
  font-size:12px ;
  font-weight: normal;
             }
             .div-input{
                 display: flex;
                 flex-direction: row;
                 margin-top: 5px;
                 input{
                     width: 100%;
                     border-color: transparent;
                     background-color: $graydd;
                     border-radius: 5px;
                 }
             }
             .div-btn{
                       display: flex;
             justify-content: center;
             align-items: center;
             margin-bottom: 15px;
          button{
              width: 50%;
              font-size: 12px;
              background-color: $perpel;
              border-color: transparent;
              color:$white;
              height: 30px;
              font-weight: bold;
              border-radius: 5px;
          }
             }
         }
       
          }
      }
  

