@import "src/utilities/references/index";
.topnoor-bazarche-page{
    background-color: $white;
    .title-bazarche{
        display: flex;
        justify-content: center;
        align-items: center;
        h6{
            font-size: 25px;
            font-weight: normal;
            padding: 30px;
        }
    }
    .first-banner{
        display: flex;
        justify-content: center;
        align-items: center;
       img{
    width: 100%;
    height: 90%;
} 
    }
    .bazarche-box{
     
        background-color: $danger;
        align-items: center;
        justify-content: center;
        .bazarche-box-main{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
      
        //   border-radius: 10px;
          width: 100%;
          .item-bazarche-box-main{
            display: flex;
            flex-direction: column;
            .title-best-offer{
                display: flex;
                justify-content: center;
                align-items: center;
                // position: fixed;
                h1{
                    font-size: 20px;
                    padding: 25px;
                    color:$white;
                    // border-bottom-style: solid;
                    // border-color: $graydd;
                    // border-width: 1px;

                }
            }
            .row-subitem{
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                margin: 15px;
                     .sub-item-bazarche-box-main{
              margin: 10px;
              text-align: right;
            //   border-radius: 10px;
              height: 100%;
              .div-img{
                display: flex;
                justify-content: center;
                align-items: center;
                   img{
                width: 75%;
                height: 50%;
                padding-top: 15px;
              }
              }
           
              h1{
                padding-top: 10px;
                font-size: 14px;
                color: $gray66;
              }
              h6{
    font-size: 12px;
    color: $gray99;
    padding-top: 10px;
              }
              h3{
                padding-top: 10px;
                font-size: 26px;
              }
    background-color: $whiteff;
    .card-box{
      margin-top: 20px;
      margin-bottom: 10px;
      border-style: solid;
      border-color: $danger;
      border-width: 1px;
      display: flex;
      width: 100%;
      text-align: right;
      justify-content: center;
      align-items: center;
      height: 40px;
      flex-direction: row-reverse;
      padding-bottom: 10px;
      h6{
        color: $danger;
        font-weight: bold;
      }
      i{
        padding-top: 10px;
        color: $danger;
        // font-weight: bold;
      }
      
    }
    }   
            }
    
          }
    
    
          .img-bazarche-box-main{
            img{width: 100%;
              height: 100%;
            }
          }
        }
      }
    .seconnd-banner{
    display: flex;
 background-color: $orange;
  
   img{
width: 100%;
height: 90%;
} 
}
.product-box{
 background-color: $orange;
    .product-box-main{

 
      border-radius: 10px;
      width: 100%;
      text-align: center;
      padding: 20px;

      h1{
padding: 8px;
        border-bottom-style: solid;
        border-color:rgba($graydd,0.4);
        font-size: 25px;
        color:$white
      }

         .product-items{
        display: flex;
        flex-direction: row;
      .col-sub-item{
          margin-top: 10px;
          margin-bottom: 10px;
    .sub-product-items{
  border-style: solid;
  border-color:$graydd;
  // padding-top: 10px;
border-width: 1px;
  text-align: right;
//   border-radius: 10px;
  height: 100%;
 width: 100%;
 margin: 10px;
 margin-top: 20px;
.div-img{
  display: flex;
  justify-content: center;
  align-items: center;
   img{
    width: 100%;
    height: 50%;
    padding-top: 15px;
  }
}
 
  h1{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: $gray66;
  }
  h5{
font-size: 12px;
color: $gray99;
padding-top: 10px;
padding-right: 10px;
  }
  h3{
    padding-top: 10px;
        padding-right: 10px;
    font-size: 26px;
  }
background-color: $whiteff;
.div-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
   .card-box{
  margin-top: 20px;
  border-style: solid;

  border-width: 1px;
  display: flex;
  width: 90%;
  text-align: right;
  justify-content: center;
  align-items: center;
  height: 40px;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  h6{
   font-size: 12px;
    font-weight: bold;
  }

}
}
 
}      
      }     


}
      

    }
  }

}