@import "src/utilities/references/index";

.komeil-landing-page {

  position: relative;
  background-color: $whitef5;
  z-index: 0;
  overflow-x: hidden;
 // padding-bottom: 100px;
.banner-row{
  margin-top: 15px;
  .banner-big-box{
    img{
      width: 100%;
      height:400px;
      border-radius: 10px;
    }
  }
  .banner-right-box{
    img{
      width: 100%;
      height:300px;
      border-radius: 10px;
    }
  }
  .banner-left-box{
    img{
      width: 100%;
      height:300px;
      border-radius: 10px;
    }
  }
}
.bazarche-row{
  margin-top: 15px;
  .bazarche-box{
 
    .bazarche-box-main{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: $perpel;
     
      width: 100%;
      .item-bazarche-box-main{
        display: flex;
        flex-direction: row;
        .sub-item-bazarche-box-main{
          margin: 10px;
          text-align: right;
          border-radius: 10px;
          height: 100%;
          min-height: 360px;
          .div-img{
            display: flex;
            justify-content: center;
            align-items: center;
               img{
            width: 75%;
            height: 50%;
            padding-top: 15px;
          }
          }
       
          h1{
            padding-top: 10px;
            font-size: 14px;
            color: $gray66;
          }
          h6{
font-size: 12px;
color: $gray99;
padding-top: 10px;
          }
          h3{
            padding-top: 10px;
            font-size: 26px;
          }
background-color: $whiteff;
.card-box{
  margin-top: 20px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: $perpel;
  border-width: 1px;
  display: flex;
  width: 100%;
  text-align: right;
  justify-content: center;
  align-items: center;
  height: 40px;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  h6{
    color: $perpel;
    font-weight: bold;
  }
  i{
    padding-top: 10px;
    color: $perpel;
    // font-weight: bold;
  }
  
}
}
.show-more-sub-item-bazarche-box-main{
  margin: 10px;
  text-align: right;
  border-radius: 10px;
  height: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 360px;
  h1{
color: $perpel;

  }
}
      }


      .img-bazarche-box-main{
        h4{
          font-size: 38px;
          text-align: center;
          color: $white;
        }
        img{width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.newproduct-row{
  .imagebox-newproduct{

    position: relative;
    height: 100%;

    img{
      width: 100%;
      height: 100%;
      min-height: 580px;
    }
    h6{
      position: absolute;
      bottom: 70px;
      left: 70px;
      font-size: 30px;
      color: $white;
    }
  }
  .subitem-newproduct{
background-color: $white;
margin: 20px;
width: 100%;
border-radius: 10px;
min-height: 250px;
box-shadow: 5px 5px 5px 5px $graydd;
.div-img-new{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
  width: 60%;

}
}

h1{
text-align: center;
  font-weight: normal;
  font-size: 12px;
}
h2{
padding: 20px;
}
  }
  .subitem-newproduct-more{
    background-color: $perpel;
margin: 20px;
width: 100%;
border-radius: 10px;
min-height: 250px;
box-shadow: 5px 5px 5px 5px $graydd;
display: flex;
align-items: center;
justify-content: center;
h6{
  color: $white;
  font-weight: bold;
}
  }
}
.bannerads-row{
  img{width: 100%;}
}
.row-service{
  background-color: $white;
  width: 95%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px $graydd;
margin-left: 30px;
  .box-service{
   
    .box-title{
      text-align: center;
      h6{
        padding: 20px;
      }
      border-bottom-style: solid;
border-width: 1px;
border-color: $perpel;
    }
    .subitem-service{
      background-color: $white;
   
      width: 100%;
      border-radius: 10px;
      min-height: 250px;

      .div-img-service{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
        width: 60%;
      
      }
      }
      
      h1{
      text-align: center;
        font-weight: normal;
        font-size: 12px;
      }
      h2{
      padding: 20px;
      }
    }
  }
  
}
}