@import "src/utilities/references/index";

.komeil-landing-page {
	box-sizing: border-box;

  position: relative;
  background-color: $whitef5;
  z-index: 0;
  overflow-x: hidden;
 // padding-bottom: 100px;
.banner-row{
  margin-top: 15px;
  .banner-big-box{
    img{
      width: 100%;
      // height:400px;
      // object-fit: cover;
      border-radius: 10px;
      cursor: pointer;
      margin: 15px;
      height: 100%;
      max-height: 500px;
      
    }
    margin-bottom: 20px;
  }
  .banner-right-box{
    img{
      width: 100%;
      height: 100%;
      max-height:300px;
      border-radius: 10px;
    }
  }
  .banner-left-box{
    img{
      width: 100%;
      height: 100%;
      max-height:300px;
      border-radius: 10px;
    }
  }
}
.bazarche-row{
  margin-top: 15px;
  .bazarche-box{
    display: flex;
    align-items: center;
    justify-content: center;
    .bazarche-box-main{
      display: flex;
      align-items: center;
      justify-content: center;
  
      background-color: $orange;
      border-radius: 10px;
      width: 100%;
      
      .item-bazarche-box-main{
     .swipper-main{
      .swiper-button-next{
        color: $blue6A;
        padding-left: 50px;
      }
      
      .swiper-button-prev {
        color: $blue6A;
        padding-right: 50px;
      }
     }

      
        .sub-item-bazarche-box-main{
          cursor: pointer;
          margin: 10px;
          margin-left: 20px;
          text-align: right;
          border-radius: 10px;
          height: 100%;
    min-height: 300px;
  width: 90%;
          .div-img{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
             img{
              width: 70%;
              height: 70%;
          
              padding-top: 15px;
            }
            .discounttxt{
              position: absolute;
              top:10px;
              left:10px;
          
              background-color: $red;
              width: 40px;
              text-align: center;
              border-radius: 5px;
              color:$white
            }
          }
           
            h1{
              padding-top: 10px;
              padding-right: 10px;
              font-size: 14px;
              color: $gray66;
            }
            h5{
          font-size: 12px;
          color: $gray99;
          padding-top: 10px;
          padding-right: 10px;
            }
            h3{
              padding-top: 10px;
                  padding-right: 10px;
              font-size: 15px;
            }
            .amountafterdiscount{
              text-decoration: line-through;
            }
background-color: $whiteff;
.div-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .card-box{
  margin-top: 20px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: $perpel;
  border-width: 1px;
  display: flex;
  width: 90%;
  text-align: right;
  justify-content: center;
  align-items: center;
  height: 30px;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  h6{
    color: $perpel;
     font-size: 16px;
    font-weight: bold;
  }
  i{
    padding-top: 10px;
    color: $perpel;
    // font-weight: bold;
  }
  
}
.cardbox-finish{
  margin-top: 20px;
  border-style: solid;
border-color: $perpel;
  border-width: 1px;
  display: flex;
  width: 90%;
  text-align: right;
  justify-content: center;
  align-items: center;
  height: 30px;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  h6{
    font-size: 16px;
    font-weight: bold;
    color:$perpel
  }
}
}

}
      }


      .img-bazarche-box-main{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction:column;
        h4{
          font-size: 25px;
          text-align: center;
          color: $white;
        }
        img{
          
          width: 180px;
         
          height: 180px;
        }
        button{
          margin:20px;
          background-color: transparent;
        
          color: $white;
          padding: 9px 16px;
          border-style: solid;
          border-color: $white;
          border-width: 1px;
          font-size: 1rem;
        }
      }
    }
  }
}




.bannerads-row{
  img{width: 100%;
  height: 330px;
  margin: 2px;
  border-radius: 10px;
  // object-fit: cover;
  }
}

.product-row{
  margin-top: 15px;
  .product-box{
 
    .product-box-main{

   
      background-color: $whiteff;
      border-radius: 10px;
      width: 100%;
      text-align: right;
      padding: 20px;

      h1{
padding: 8px;
        border-bottom-style: solid;
        border-color:rgba($graydd,0.5);
        font-size: 32px;
        color:$black
      }

         .product-items{
        display: flex;
        flex-direction: row;
           
.sub-product-items{
  cursor: pointer;
  border-style: solid;
  border-color:$graydd;
  // padding-top: 10px;
border-width: 1px;
  text-align: right;
  border-radius: 10px;
  height: 100%;
 width: 100%;
 margin: 10px;
 box-shadow: 5px 5px 5px 5px $graydd;
.div-img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
   img{
    width: 100%;
    height: 100%;
// max-width: 400px;
// min-width: 400px;
    padding-top: 15px;
  }
  .discounttxt{
    position: absolute;
    top:10px;
    left:10px;
 
    background-color: $red;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    color:$white
  }
}
 
  h1{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: $gray66;
    direction: rtl;
  }
  h5{
font-size: 12px;
color: $gray99;
padding-top: 10px;
padding-right: 10px;
  }
  h3{
    padding-top: 10px;
        padding-right: 10px;
    font-size: 15px;
  }
  .classRowprice{
    display: flex;
    flex-direction: row-reverse;
     .amountafterdiscount{
    text-decoration: line-through;
  }
  }
  @media (max-width: 1010px){
    .classRowprice{
    display: flex;
flex-direction: column;
    }
      }
 
background-color: $whiteff;
.div-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
   .card-box{
  margin-top: 20px;
  border-style: solid;

  border-width: 1px;
  display: flex;
  width: 90%;
  text-align: right;
  justify-content: center;
  align-items: center;
  height: 40px;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  h6{
   font-size: 12px;
    font-weight: bold;
  }

}
.cardbox-finish{
  margin-top: 20px;
  border-style: solid;
border-color: $perpel;
  border-width: 1px;
  display: flex;
  width: 90%;
  text-align: right;
  justify-content: center;
  align-items: center;
  height: 40px;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  h6{
    font-size: 12px;
    font-weight: bold;
    color:$perpel
  }
}
}
 
}

}
      

    }
  }
}
.brand-row{
  margin-top: 15px;
  .brand-box{
 
    .brand-box-main{

   
      background-color: $whiteff;
      border-radius: 10px;
      width: 100%;
      text-align: right;
      padding: 20px;
      h1{
padding: 10px;
        border-bottom-style: solid;
        border-color:rgba($graydd,0.5);
        font-size: 32px;
        color:$black
      }
      .brands{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        direction: rtl;
        .brands-items{
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-style: solid;
          border-color:rgba($graydd,0.3);
          border-radius: 10px;
          min-height: 150px;
          min-width: 150px;
       margin: 10px;
          // width: 10%;
          // height: 150px;
          img{
            width: 80%;
            object-fit: cover;
            object-fit: cover;
            border-radius: 10px;
          }
          h6{
            font-size: 12px;
            padding:10px
          }
        }
      }

    }
  }
}
}