@import "src/utilities/references/index";

.komeil-landing-page {
	box-sizing: border-box;

  position: relative;
  background-color: $whitef5;
  z-index: 0;
  overflow-x: hidden;
 // padding-bottom: 100px;
.banner-row{
  margin-top: 15px;
  .banner-big-box{
    img{
      width: 100%;
      // height:400px;
      object-fit: cover;
      border-radius: 10px;
      cursor: pointer;
      margin: 15px;
    }
  }
  .banner-right-box{
    img{
      width: 100%;
      height:300px;
      border-radius: 10px;
    }
  }
  .banner-left-box{
    img{
      width: 100%;
      height:300px;
      border-radius: 10px;
    }
  }
}
.bazarche-row{
  margin-top: 15px;
  .bazarche-box{
 
    .bazarche-box-main{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: $danger;
     
      width: 100%;
      .item-bazarche-box-main{
        display: flex;
        flex-direction: row;
        .sub-item-bazarche-box-main{
          margin: 10px;
          text-align: right;
          border-radius: 10px;
          height: 100%;
          min-height: 360px; cursor: pointer;
          .div-img{
            display: flex;
            justify-content: center;
            align-items: center;
    
               img{
            width: 75%;
            height: 50%;
            padding-top: 15px;
          }
          }
       
          h1{
            padding-top: 10px;
            font-size: 16px;
            font-weight: bold;
            color: $gray66;
          }
          h6{
font-size: 12px;
color: $gray99;
padding-top: 10px;
          }
          h3{
            padding-top: 10px;
            font-size: 26px;
          }
background-color: $whiteff;
.card-box{
  margin-top: 20px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: $perpel;
  border-width: 1px;
  display: flex;
  width: 100%;
  text-align: right;
  justify-content: center;
  align-items: center;
  height: 40px;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  h6{
    color: $perpel;
    font-weight: bold;
  }
  i{
    padding-top: 10px;
    color: $perpel;
    // font-weight: bold;
  }

}
.div-price-sub-item-bazarche-box-main{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
  flex: 1;
  
  h5{
font-weight: normal;
font-size: 15px;
  }
  i{
flex: 1;
  }
.discount-sub-item-bazarche-box-main{
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
background-color: $perpel;
border-top-left-radius: 10px;
border-top-right-radius:10px ;
h6{
  color:$white
}
}
.amountafterdiscount{
  text-decoration: line-through;
}
h3{
  padding-top: 10px;
      padding-right: 10px;
  font-size: 15px;
}
}
i{flex: 1;}
}
.show-more-sub-item-bazarche-box-main{
  margin: 10px;
  text-align: right;
  border-radius: 10px;
  height: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 360px;
  cursor: pointer;
  h1{
color: $perpel;

  }
}
      }


      .img-bazarche-box-main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h4{
          font-size: 38px;
          text-align: center;
          color: $white;
        }
        img{width: 200px;
          height: 100%;
        }
      }
    }
  }
}
.newproduct-row{
  .imagebox-newproduct{

    position: relative;
    height: 100%;

    img{
      width: 800px;
      height: 800px;
      min-height: 580px;
      margin: 20px;
    }
    h6{
      position: absolute;
      bottom: 70px;
      left: 70px;
      font-size: 30px;
      color: $white;
    }
  }
  .subitem-newproduct-one-two{
background-color: $white;
margin: 50px;

width: 100%;
border-radius: 10px;
min-height: 250px;
box-shadow: 5px 5px 5px 5px $graydd;
cursor: pointer;
.simpletxt{
  text-align: center;
  padding: 10px;
  color: $perpel;
}
.div-img-new{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  img{
  width: 200px;
  height: 200px;
margin: 20px;
}

.discounttxt{
  position: absolute;
  top:0;
  left:-5px;
  transform: rotate(-35deg);
  background-color: $danger;
  width: 40px;
  text-align: center;
  border-radius: 5px;
  color:$blue6A
}
}

h1{
text-align: center;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  direction: rtl;
}
h2{
padding: 20px;
}
.amountafterdiscount{
  text-decoration: line-through;
}
h3{
  padding-top: 5px;
      padding-right: 10px;
  font-size: 15px;
  padding-bottom: 10px;
}
.div-price-subitem-newproduct{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
  h5{
font-weight: normal;
font-size: 15px;
  }
  i{
flex: 1;
  }
.discount-subitem-newproduct{
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
background-color: $perpel;
border-top-left-radius: 10px;
border-top-right-radius:10px ;
h6{
  color:$white;
  font-size: 12px;
}
}
.amountafterdiscount{
  text-decoration: line-through;
}
h3{
  padding-top: 10px;
      padding-right: 10px;
  font-size: 15px;
}
}
  }
  .subitem-newproduct-three{
    background-color: $white;
    margin: 50px;
    margin-top: 0px;
    width: 100%;
    border-radius: 10px;
    min-height: 250px;
    box-shadow: 5px 5px 5px 5px $graydd;
    cursor: pointer;
    .simpletxt{
      text-align: center;
      padding: 10px;
      color: $perpel;
    }
    .div-img-new{
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
      img{
        width: 200px;
        height: 200px;
    margin: 20px;
    }
    
    .discounttxt{
      position: absolute;
      top:0;
      left:-5px;
      transform: rotate(-35deg);
      background-color: $danger;
      width: 40px;
      text-align: center;
      border-radius: 5px;
      color:$blue6A
    }
    }
    
    h1{
    text-align: center;
      padding: 10px;
      font-size: 15px;
      font-weight: bold;
    }
    h2{
    padding: 20px;
    }
    .amountafterdiscount{
      text-decoration: line-through;
    }
    h3{
      padding-top: 5px;
          padding-right: 10px;
      font-size: 15px;
      padding-bottom: 10px;
    }
    .div-price-subitem-newproduct{
    
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 15px;
      h5{
    font-weight: normal;
    font-size: 15px;
      }
      i{
    flex: 1;
      }
    .discount-subitem-newproduct{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $perpel;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    h6{
      color:$white;
      font-size: 12px;
    }
    }
    .amountafterdiscount{
      text-decoration: line-through;
    }
    h3{
      padding-top: 10px;
          padding-right: 10px;
      font-size: 15px;
    }
    }
      }
  .subitem-newproduct-more{
    background-color: $perpel;
margin: 20px;
width: 100%;
border-radius: 10px;
min-height: 250px;
box-shadow: 5px 5px 5px 5px $graydd;
display: flex;
align-items: center;
justify-content: center;
h6{
  color: $white;
  font-weight: bold;
}
  }
}

.product-items{

.subitem{
  background-color: $white;
  margin: 10px;
  
  width: 100%;
  border-radius: 10px;
  min-height: 250px;
  box-shadow: 5px 5px 5px 5px $graydd;
  cursor: pointer;
  .simpletxt{
    text-align: center;
    padding: 10px;
    color: $perpel;
  }
  .div-img-new{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    img{
    width: 200px;
    height: 200px;
  margin: 20px;
  }
  
  .discounttxt{
    position: absolute;
    top:0;
    left:-5px;
    transform: rotate(-35deg);
    background-color: $danger;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    color:$blue6A
  }
  }
  
  h1{
  text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    direction: rtl;
  }
  h2{
  padding: 20px;
  }
  .amountafterdiscount{
    text-decoration: line-through;
  }
  h3{
    padding-top: 5px;
        padding-right: 10px;
    font-size: 15px;
    padding-bottom: 10px;
  }
  .div-price-subitem-newproduct{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    h5{
  font-weight: normal;
  font-size: 15px;
    }
    i{
  flex: 1;
    }
  .discount-subitem-newproduct{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $perpel;
  border-top-left-radius: 10px;
  border-top-right-radius:10px ;
  h6{
    color:$white;
    font-size: 12px;
  }
  }
  .amountafterdiscount{
    text-decoration: line-through;
  }
  h3{
    padding-top: 10px;
        padding-right: 10px;
    font-size: 15px;
  }
  }
    }
}

.bannerads-row{
  img{width: 100%;
  height: 330px;
  margin: 2px;
  border-radius: 10px;
  // object-fit: cover;
  }
}
.row-service{
  background-color: $white;
  width: 95%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px $graydd;
margin-left: 30px;
margin-top: 20px;
margin-bottom: 20px;
  .box-service{
   
    .box-title{
      text-align: center;
      h6{
        padding: 20px;
      }
      border-bottom-style: solid;
border-width: 1px;
border-color: $perpel;
    }
    .brands{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: auto;
      direction: rtl;
      // margin-top: 20px;
      .subitem-service{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-style: solid;
        border-color:rgba($graydd,0.3);
        border-radius: 10px;
        min-height: 150px;
        min-width: 150px;
     margin: 10px;
        // width: 10%;
        // height: 150px;
        img{
          width: 80%;
     height: 100px;
          border-radius: 10px;
        }
        h1{
          font-size: 15px;
          padding:20px
        }
      }
    }
  
  }
  
}
}