@import "src/utilities/references/index";
.komeil-aboutus-page{
    background-color: $white;
.row-description{
margin-top: 30px;
    .col-img-description{
        height: 500px;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
    .col-txt-description{
text-align: right;
display: flex;
padding: 50px;
flex-direction: column;
h1{
color: $black50;
font-weight: bold;
}
h6{
font-weight: normal;
padding-top: 40px;
font-size: 14px;
line-height: 21px;
}
    }
}
.row-img{
    .col-txt-img{
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: $black50;
font-weight: bold;
padding: 60px;
        }
    }
    .col-img-img{
    
        img{
               width: 100%;
        height: 100%; 
       
        }
    }
}
.row-contact{
    margin-bottom: 30px;
    .col-contact-title{
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: $black50;
font-weight: bold;
padding: 60px;
        }
    }
    .col-contact-input{
display: flex;
flex-direction: column;

padding-right: 100px;
padding-left: 100px;
h6{
    font-weight: normal;
padding-top: 40px;
font-size: 14px;
text-align: right;
}
.col-contact-input-input{
    display: flex;
  flex-direction: row-reverse;
    input{
        width: 200px;
        margin-top: 10px;
        background-color: $grayE2;
        border-radius: 5px;
        border-color: transparent;
        }
        textarea{
            height: 150px;
            margin-top: 10px;
            width: 100%;
            background-color: $grayE2;
            border-radius: 5px;
            border-color: transparent;
        } 
}

.col-contact-input-btn{
    display: flex;
    justify-content: center;
    align-items: center;
   button{
    width: 140px;
    height: 40px;
    color: $white;
    background-color: $perpel;
    border-color: transparent;
    border-radius: 3px;
    margin-top: 30px;
} 
}

    }
    .col-contact-txt{
        display: flex;
flex-direction: column;
padding-right: 100px;
padding-left: 100px;
        h6{
            font-weight: normal;
        padding-top: 18px;
        font-size: 14px;
        text-align: right;
        }
    }
}
}